<div class="row">

    <div class="col">
        <h1>*ngIf</h1>
        <hr>

        <div *ngIf="mostrar" class="card text-white bg-danger mb-3" style="width: 100%;">
            <div class="card-body">
                <h5 class="card-title"> {{ frase.autor }} </h5>
                <p class="card-text">{{ frase.mensaje }}</p>
            </div>
        </div>

        <button (click)=" mostrar = !mostrar  " class="btn btn-outline-primary btn-block" style="width: 100%;">
            Mostrar/Ocultar
        </button>


    </div>

    <div class="col">
        <h1>*ngFor</h1>
        <hr>

        <ul class="list-group">
            <li *ngFor="let m of personajes; let numero = index" class="list-group-item">
                {{ numero + 1 }} - {{ m }}
            </li>
        </ul>

    </div>


</div>